/* Clearfix */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mainFont);
}

/* Variables */

:root {
    /* Colors */
    /*  Font color  */
    --mainColor: #323232;

    /* SplashScreen */
    --border: #e1e1e1;
    --menuBackground: #ffa726;
    --menuCross: #e65100;
    --menuAccents: #fff;

    /* MainView */
    --mainViewMenu: #fffde7;
    --mainViewChecklists: #f5f3f0;
    --mainViewChecklistsIcons: #ffe082;
    --itemOnHover: #fffde7;

    --mainViewMenu: #fffde7;
    --mainViewContainer: #f0f3f3;
    
    /* Login & Register */
    --bgrSingIn: #fff;
    --colorMenuButtom: #888;
    --checkedForm: #e65100;

    /* Loader */
    --loaderBackground: rgba(0, 0, 0, .8);

    /* Editor */
    --editorMainColor: #000;
    --editorBackground: #fff;
    --editorBorder: #ddd;
    --editorToolbarBackground: #e65100;
    --editorBoxShadow: rgba(0, 0, 0, 0.1);
    --editorAlternativeBoxShadow: rgba(220, 220, 220, 1);
    --editorLinkBackground: #EEF8FF;
    --editorBaloonBackground: rgba(17, 17, 17, 0.9);
    --editorBaloonColor: #fff;
    --checklistEditorContainer: #f0f3f3;
    --checklistEditorButtons: #00c853;
    --checklistEditorButtonOnHover: #00e676;
    --checklistEditorButtonsText: #eee;
    /* Fonts */
    --mainFont: 'Roboto', sans-serif;
    --logoFont: 'Fredoka One', cursive;

}

html[data-theme="dark"] {
    /* Colors */
    /*  Font color  */
    --mainColor: #9d9da3;

    /* SplashScreen */
    --border: #0c0b1a;
    --menuBackground: #487386;
    --menuCross: #373a66;
    --menuAccents: rgb(242, 243, 248);

    /* MainView */
    --mainViewMenu: #f8f8ee;
    --mainViewChecklists: #2e2e44;
    --mainViewChecklistsIcons: #384264;
    --itemOnHover: #4e4e5f;

    --mainViewMenu: #030218;
    --mainViewContainer: #030218;

    /* Login & Register */
    --bgrSingIn: #12122e;
    --bgrSignInInput: #2b2b47;
    --checkedForm: #d9d9e2;

    /* Loader */
    --loaderBackground: rgba(0, 0, 0, .8);

        /* Editor */
        --editorMainColor: #000;
        --editorBackground: rgb(75, 73, 73);
        --editorBorder: #ddd;
        --editorToolbarBackground: #464341;
        --editorBoxShadow: rgba(0, 0, 0, 0.1);
        --editorAlternativeBoxShadow: rgba(220,220,220,1);
        --editorLinkBackground: #EEF8FF;
        --editorBaloonBackground: rgba(17, 17, 17, 0.9);
        --editorBaloonColor: #fff;
        --checklistEditorContainer:  #030218;
        --checklistEditorButtons: #222423;
        --checklistEditorButtonOnHover: #3f3f3f;
        --checklistEditorButtonsText: rgb(206, 200, 200);

    /* Fonts */
    --mainFont: 'Roboto', sans-serif;
    --logoFont: 'Fredoka One', cursive;
    background-color: var(--mainViewMenu);
}

html {
    color: var(--mainColor);
}

.mainView .menu-burger {
    position: absolute;
    right: 16px;
    font-size: 32px;
    justify-self: center;
    color: var(--colorMenuButtom);
    cursor: pointer
}

/* mainView - container */
.mainView .container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--mainViewContainer);
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 90px 100px;
}

/* mainView - header */
.mainView .header {
    grid-column: 1 / 3;
    grid-row: 1 / span 1;
    position: relative;
    border-bottom: 1px solid var(--border);
    height: 90px;

    display: grid;
    grid-template-columns: 65% 35%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainView .header h2 {
    grid-column: 1 / 2;
}

/* mainView - state-container */
.mainView .state-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 100px;
    flex-shrink: 1;
}

.mainView .state-container .state {
    height: 12vh;
    width: 80%;
    text-align: center;
    color: var(--menuAccents);
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.mainView .state-container .state-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    height: 100%;
    color: var(--menuAccents);
    border-radius: 5px;
    padding: 0 16px;
    width: 40%;
}

.mainView .state-container .state-button>span {
    font-size: 26px;
    width: 100%;
}

/* mainView - content */
.mainView .title-content {
    margin-bottom: 16px;
    color: var(--menuBackground);
    padding: 16px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    background-color: var(--bgrSingIn);
}

.mainView .title-content h3 {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    color: var(--mainColor);
}

.mainView .content {
    display: flex;
    flex-direction: column;
    margin: 16px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .mainView .header {
        display: flex;
    }

    .mainView .container {
        display: flex;
        flex-direction: column;
    }
}