/* Clearfix */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mainFont);
}

/* Variables */

:root {
    /* Colors */
        /*  Font color  */
        --mainColor: #323232;

        /* SplashScreen */
        --border: #d2cdcd;
        --menuBackground: #ffa726;
        --menuCross: #e65100;
        --menuAccents: #fff;

        /* MainView */
        --mainViewMenu: #fffde7;
        --mainViewChecklists:  #f5f3f0;
        --mainViewChecklistsIcons: #ffe082;

        /* Loader */
        --loaderBackground: rgba(0, 0, 0, .8);

    /* Fonts */
    --mainFont: 'Roboto', sans-serif;
    --logoFont: 'Fredoka One', cursive;

}

html {
    color: var(--mainColor);
}