:root
{
    --color-picker-width: 170px;
}

.editor-color-wrapper
{
    position: relative;
    margin-right: 0;
}

.editor-color-picker
{
    position: absolute !important;
    left: calc((-1)*var(--color-picker-width)/2 + var(--color-picker-width)*0.01);
    top: 25px;
    background-color: #ddd !important;
    opacity: 0.9;
    z-index: 100;
}

.editor-color-arrow
{
    margin-right: -10px;
}