@import '../../styles/global.css';

.mainViewMenuMobile {
    
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--mainViewMenu);
    z-index: 10;
    transition: 0.4s;
    min-height: 100%;
}

.cancel {
    font-size: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
} 

.mainViewMenuMobile a {
    font-size: 18px;
    padding: 12px 0;
    text-decoration: none;
    color: var(--mainColor);
}

.mainViewMenuMobile div {
    margin-bottom: 20px;
}

.mainViewMenuMobile a:last-child {
    color: var(--menuCross);
}

.mainViewMenuMobile a:hover {
    color: var(--menuBackground);
}

.splashScreenMenuDesktop__logo {
    display: flex;
    flex-direction: column; 
    padding-bottom: 15px;
}

.splashScreenMenuDesktop__logo svg {
    font-size: 72px;
}

@media (min-width : 1025px) {
    .mainViewMenuMobile {
        display: none;
    }
}