@import '../../styles/global.css';

#myteams {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.myteams-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#myteams .team-count-button {
    cursor: pointer;
    background-color: var(--colorMenuButtom)
}

#myteams .add-team-button {
    cursor: pointer;
    background-color: var(--menuCross)
}

#myteams .add-team-button:hover {
    background-color: var(--menuBackground);
}

#myteams .myteams-list {
    background-color:var(--bgrSingIn);
    list-style-type: none;
    width: 100%;
    border-radius: 5px;
    max-height: 156px;
    overflow: auto;
}

#myteam .myteams-list {
    border-radius: 0 0 5px 5px;
    /* max-height: 156px; */
}

#myteams .myteams-list > li {
    width: 100%;
    border-bottom: 1px solid var(--mainViewChecklists);
    padding: 16px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

#myteams .myteams-list > li i {
    cursor: pointer;
}

#myteams .teams-content .myteams-list > li {
    cursor: pointer;
    padding: 14px 16px;
    padding-bottom: 13px;
}

#myteams .teams-content .myteams-list>li:hover {
    background-color: var(--itemOnHover);
}

#myteams .myteams-list>li:last-of-type {
    border-bottom: none;
}

#myteams .add {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorMenuButtom);
    border-radius: 0px 0px 5px 5px;
}

#myteams .add input {
    width: 100%;
    padding: 8px 16px;
    color: var(--mainColor);
    border-radius: 16px;

}

#myteams .add button {
    padding: 8px 16px;
    background-color: transparent;
    color: var(--bgrSingIn);
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid var(--bgrSingIn);
}

#myteams .add button:first-of-type {
    margin-right: 16px;
}

#myteams .add button:hover {
    background-color: var(--menuBackground);
}

#myteams .error {
    font-size: 14px;
    margin-top: 8px;
}

#myteams .change {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    background-color: var(--bgrSingIn);
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
}

#myteams .change > div:first-of-type {
    flex-grow: 1;
    padding-right: 16px;
}

#myteams .change input {
    color: var(--menuBackground);
    background-color: var(--bgrSingIn);
    font-size: 18px;
    width: 100%;
}

#myteams .change button { 
    background-color: var(--bgrSingIn);
    color: var(--menuCross);
    font-size: 16px;
    cursor: pointer;
}
#myteams .change-name {
    display: flex;
}

#myteams .change-name > span {
    display: inline-block;
    width: 16px;
    text-align: center;
    color: var(--menuCross);
}

#myteams .change button:hover {
    color: var(--menuBackground);
}

#myteams .team-content li svg {
    width: 16px;
    margin-right: 16px;
} 

div.width100 {
    width: 100%;
}

.icon-color {
    color: var(--mainViewChecklistsIcons);
}

.icon-color:hover {
    color: var(--menuBackground);
}

.icon-float {
    margin-left: 16px;
}

.icon-member {
    display: inline-block;
    color: var(--menuBackground);
}

#myteams .checklists-content {
    margin-top: 31px;
}

#myteams .checklists-content select {
    outline: none;
    width: 100%;
    padding: 8px 16px;
    color: var(--mainColor);
    border-radius: 16px;
    border: none;
}

#myteams li.active {
    background-color: var(--menuCross);
    color: #fff;
}

li:last-of-type.active {
     pointer-events: auto;
}

#myteams li.active:hover {
    background-color: var(--menuCross) !important;
}

/* scrollbar */

.myteams-list::-webkit-scrollbar,
.myteam-list::-webkit-scrollbar {
    width: 8px;
    background-color: var(--mainViewChecklists);
}

.myteams-list::-webkit-scrollbar-thumb,
.myteam-list::-webkit-scrollbar-thumb {
    background-color: var(--mainViewChecklistsIcons);
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));
}