@import '../../styles/global.css';

.checklistCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1c2b36;
}

.checklistNumber {
    font-size: 26px;
    width: 100%;
}

.checklistCounter p {
    font-size: 16px;
}

@media (min-width: 1024px) {
    .checklistNumber {
        font-size: 28px;
    }

    .checklistCounter p {
        font-size: 18px;
    }
}

@media (min-width: 1440px) {
    .checklistNumber {
        font-size: 32px;
    }

    .checklistCounter p {
        font-size: 22px;
    }
}