/* Kontener zawierający całą aplikację po zalogowaniu*/
@import '../../styles/global.css';

.mainView__container {
    width: 100%;
    height: 100vh;
    background-color: var(--mainViewContainer);
    border: 1px solid var(--border);
    border-left: none;
}

.stateContainter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.addInput {
    padding: 8px 12px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1.2em;
}

.addInput:focus {
    box-shadow: 0 0 2px var(--menuCross);
}

.addButton {
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--menuCross);
    font-size: 1.2em;
    cursor: pointer;
}

.addButton:hover {
    background-color: var(--menuBackground);
}

.checklistCounter {
    background-color: var(--menuCross);
}

.createNewChecklist {
    color: var(--checklistEditorButtonsText);
    background-color: var(--checklistEditorButtons);
    cursor: pointer;
}

.createNewChecklist:hover {
    background: var(--checklistEditorButtonOnHover);
}