* { margin: 0; padding: 0; }
input, button { outline: none; border: none;}

.form {
    --input-bg-color: #fff8e1;
    --error-bg-color: #ffece8;
    --main-color: #e65100;

    text-align: center;
    font-family: sans-serif;

    margin: 30px 0; 
}   

.form h2 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: normal;
}
    
.form form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 30px;      
    margin: 0 auto;
    box-shadow: 0 2px 8px 0 #E3E3E3;
}

.form form > div.form-el {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E3E3E3;
}
.form form>div.form-el:not(:nth-of-type(1)) {
    margin-top: 20px;
}

.form form svg {
    font-size: 18px;
    text-align: left;
    width: 28px !important;
    color: var(--main-color);
}

.form input:not([type=submit]) {
    flex-grow: 1;
    padding: 0 0 0 10px;
    font-size: 14px;
    line-height: 30px;
    background-color: var(--input-bg-color);
}

.form form .error {
    position: relative;
    text-align: left; 
    font-size: 14px;
    background-color: var(--error-bg-color); 
    padding: 8px 10px;
}

.form #submit {
    margin-top: 30px;
    height: 54px;
    color: #fff;
    border-radius: 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
}

.form .or {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E3E3E3;
    margin-top: 30px;
}

.form .or span {
    position: absolute;
    display: block;
    padding: 0 10px;
    background-color: #fff;
    font-size: 14px;
    color: #666;
    top: -7px;
}

.form button.gplus {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    color: var(--main-color);
    border-radius: 28px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid var(--main-color);
}

.form button.gplus svg {
    margin-right: 10px;
}